<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <template v-show="show">
            <h1>Hello Vue</h1>
            <span>description</span>

        </template>
        <!-- <template v-else>
            <h1>xxx</h1>
            <span>description</span>

        </template> -->
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
        <div> {{content}}</div>
        <div v-for="user in userListArray">{{user.name}}</div>
        <text-component v-for="num in total" />
    </div>
    <script>
        Vue.component('TextComponent', {
            template: '<div>text</div>',
            created() {
                console.log('text')
            },
        })
        const dataMapping = {
            A: "aaaaaaaa",
            B: 'bbbbbbbbbbbb',
            C: 'cccccccccccc',
            D: 'Hello',
            
        }
        let vm = new Vue({
            el: '#app',
            data: {
                total: 5,
                show: true,
                type: 'A',
                userListArray: [{
                    name: 'Sara',
                    gender: 'Famale',
                }],
            },
            mounted() {
                setInterval(() => {
                    this.total += 1
                }, 1000);
            },
            computed: {
                content() {
                    return dataMapping[this.type] || 'no content'
                }
            },

        })
    </script>
</body>

</html>