<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<!-- <h1>{{ count }}</h1>
		<button @click=" count -= 1">Prev</button>
		<button @click=" count += 1">Next</button> -->
		<button v-for="(countent,index) of contents" @click="count = index"> {{index}}</button>
		<!-- <h1>{{count}}</h1> -->
		<div>
			<h1 v-for="(countent,index) of contents" v-show="index === count">{{countent}}</h1>
		</div>
	</div>
	<script>

		new Vue({
			el: '#app',
			data: {
				count: 0,
				total:4,
				contents:['aaa','bbb','ccc','ddd'],
			},


		})
	</script>
</body>

</html>